<div class="parallax-container">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s12 m6 l6">
            <div class="card card-login">
                <div class="card-content">
                    <h6>INICIO DE SESSIÓN</h6>
                    <form #formLogin="ngForm" (ngSubmit)="login(formLogin)">
                        <div class="row">
                            <div class="input-field col s12 m7 l7">
                                <input type="email" class="validate" data-length="50" id="correo" name="correo"
                                    #correo="ngModel" [(ngModel)]="this.usuarioLogin.correo" required=""
                                    aria-required="true">
                                <label for="correo">Correo:</label>
                                <span class="helper-text" data-error="Correo invalido" data-success=""></span>
                            </div>
                            <div class="input-field col s12 m5 l5">
                                <input type="password" class="validate" data-length="50" id="clave" name="clave"
                                    #clave="ngModel" maxlength="20" minlength="8" [(ngModel)]="this.usuarioLogin.clave"
                                    required="" aria-required="true">
                                <label for="clave">Contraseña:</label>
                                <span class="helper-text" data-error="" data-success="" id="clave-help"></span>
                            </div>
                            <div class="input-field col s12 right">
                                <button type="submit" class="btn col s12">Ingresar</button>
                            </div>
                        </div>
                    </form>
                    <div class="center-align">
                        <a class="">¿Olvidaste tu contraseña?</a>
                    </div>
                    <a href="/" class="">VOLVER</a>
                </div>
            </div>
        </div>
        <div class="parallax"><img height="100dv" src="../../../../assets/images/money-bg.jpg"
                alt="Unsplashed background img 1"></div>
    </div>
    <div class="col s2"></div>
</div>